@model _2013201694_ENT.Encomienda

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Encomienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarifa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsuntoEncomienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsuntoEncomienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDestinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDestinatario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
