@model IEnumerable<_2013201694_ENT.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.NombreServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.NombreServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
