@model _2013201694_ENT.TipoComprobante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoComprobante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venta.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreComprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComprobante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoComprobanteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
