@model _2013201694_ENT.TipoLugar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoLugar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LugarViaje.NombreLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarViaje.NombreLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoLugarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
