@model IEnumerable<_2013201694_ENT.TipoLugar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LugarViaje.NombreLugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LugarViaje.NombreLugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoLugarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoLugarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoLugarId })
        </td>
    </tr>
}

</table>
