@model _2013201694_ENT.Bus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Servicio.NombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.NombreServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerieMotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerieMotor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
